h1 {
	text-align: center;
	font-family: "Courier New", monospace;
}

nav {
	background-color: #8994a5;
	text-align: center;
	padding: 30px 20px;
	margin: 0 auto; 
	font-size: 20px;
	font-family: "Courier New", monospace;


}

img {
	height: 300px;
	width: 300px;
	margin: auto;
	display: block;
	border-radius: 100%;
}

a {
	text-decoration: none;
	color: #aa7b97;
}

li {
	line-height: 20px;
	width: 500px;
}

p {
	font-weight: bold;
}

ol {
	font-size: 20px;
	font-family: "Courier New", monospace;

}

h3 {
	font-family: "Courier New", monospace;
}